
.gradient {
    width: 100%;
    height: 100%;

    background: rgb(0,0,0);
    background: linear-gradient(110deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 18%, rgba(0,0,0,0.8603816526610644) 40%, rgba(129,129,129,0.25) 90%, rgba(255,255,255,0) 100%);

    margin: 0px;
    overflow: hidden;
}