.characterView {
    display: grid;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    height: auto;

    grid-template-rows: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 1300px) {
    .characterView {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1700px) {
    .characterView {
        max-width: 1500px;
    }
}

.characterView.viewMode-left {
    grid-template-columns: 380px 1fr;   
}

.characterView.viewMode-right {
    grid-template-columns: 1fr 380px;   
}

@media only screen and (max-width: 850px) {
    .characterView {
        grid-template-columns: 100% !important;   
        grid-template-rows: 300px 1fr !important;
        height: 100vh;
        overflow: auto;
    }

    .characterDescription {
        text-align: center !important;
    }

    .characterInfo {
        padding-top: 16px !important;
    }

    .characterImage img {
        height: 100%;
        width: auto !important;
    }
}

@media only screen and (min-width: 850px) {
    .viewMode-right .characterImage {
        order: 2;
    }
    
    .viewMode-right .characterInfo {
        order: 1;
    }
}

.characterImage {
    width: 100%;
    height: 100%;
    padding: 16px;
    padding-bottom: 0px;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.characterImage img {
    font-size: 0;
    display: inline-block;
    width: 100%;
    bottom: 0px;
    margin: auto;
    margin-bottom: 0;
}

.characterImage.characterCenter img {
    margin-bottom: auto !important;
}

.characterInfo {
    padding: 16px;
    padding-top: 48px;
    text-align: center;
    display: grid;
}

.characterInfoWrapper {
    margin: auto;
}

.characterName {
    display: block;
    font-size: 4em;
    border-bottom: 1px solid gray;
}

.characterDescription {
    font-size: 1.2em;
}

.viewMode-left .characterDescription {
    text-align: left;
}

.viewMode-right .characterDescription {
    text-align: right;
}