
.navBar {

    display: block;
    width: 100%;
    height: 60px;
    padding: 0 12px;
    background-color: black;

}

.navBar .navLink {
    display: inline-block;
    height: 100%;
    float: left;
    line-height: 60px;
    padding: 0 12px;
    color: inherit;
}

.navBar .logo {
    width: 60px;
    padding: 8px;
}

.navBar .logo img {
    height: 100%;
    width: 100%;
}

.navTitle {
    letter-spacing: inherit !important;
    display: inline-block;
    height: 100%;
    line-height: 60px;
    padding: 0 12px !important;
    margin: 0 !important;
    font-size: 26px !important;
    font-family: inherit !important;
}