body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /*
    Is the following OK?
    https://stackoverflow.com/a/60735432
  */
  height: calc(100vh - calc(100vh - 100%));
  position: fixed;
}

* {
    box-sizing: border-box;
}

.link {
    color: rgba(220, 220, 255, 1);
}

.textCenter {
    display: block;
    text-align: center;
}