
.animePlayer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 250px;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
}

.episodeList {
    width: 100%;
    height: 100%;
    overflow: auto;
    max-height: 600px;
}

.episodeLink {
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: inherit;
    text-align: left;
    padding: 0 12px;
}

@media only screen and (max-width: 870px) {
    .animePlayer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 10px;
    }

    .episodeLink {
        border-bottom: 1px dashed gray;
        min-height: 40px;
        height: auto;
        line-height: 40px;
        font-size: 20px;
    }

    .episodeList {
        max-height: initial;
    }
}

.videoRow {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 50px 1fr;
}

.videoTitle {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    font-size: 24px;
    line-height: 50px;
    overflow: hidden;
}

.videoDescription p {
    font-size: 20px !important;
    line-height: 26px !important;
}

.videoDescription p::before {
    content: ' ';
    padding-left: 1em;
}

.videoTitle span {
    margin: auto;
}

.animePlayer video {
    width: 100%;
}
